body {
    background-color: white;
}
#bodyDiv {
    margin-left: 250px;
    margin-right: 250px;
    border: 2px solid black;
    padding-left: 8px;
    padding-bottom: 8px;
}

h1 {
    text-align: center;
    border: 1px solid black;
    padding: 40px;
    background-color: grey;
    color:white;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
}
h2 {
    padding-left: 8px;
}
#inputs {
    text-align: left;
    height: 4vh;
    padding-left: 8px;
    font-size: larger;
}
input {
    height: 20px;
    width: 230px;
}

#container-button {
    text-align: right;
    padding-right: 50px;
}